@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*-- scss:defaults --*/

$link-color: #447099;
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-monospace: 'Fira Mono', monospace;

$presentation-title-slide-text-align: left;

$theme-darkblue: #01364C;
$theme-blue: #447099;
$theme-powder_blue: #99D9DD;
$theme-white: #F7F8F9;
$theme-yellow: #F4BA02;

/*-- scss:rules --*/

h2 {
  color: #447099 !important;
}

.blue {
  color: $theme-blue;
  font-weight: bold;
}

.powder_blue {
  color: $theme-powder_blue;
  font-weight: bold;
}

.yellow {
  color: $theme-yellow;
  font-weight: bold;
}

.big_centered_text {
  color: $theme-white;
  font-weight: bold;
  text-align: center;
  background-color: $theme-darkblue;
}

.highlight-blueblue {
  color: $theme-blue;
  font-weight: bold;
}

.text_block {
  background-color: #447099;
  margin: 10px;
  border: 1px solid #447099;
  border-radius: 50px;
}